@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<style>
    .personas {
        width: 27%;
        position: absolute;
        bottom: 0px;
        left: 40px;
    }

    .circulo {
        width: 13%;
        position: absolute;
        right: 0px;
        top: 20%;
    }

    .silueta {
        width: 20%;
        position: absolute;
        right: 20%;
        bottom: 0px;
    }

    .logo {
        width: 70% !important;
        right: 0;
        padding-right: 0;
        left: 10px;
        margin-left: 15%;
    }

    body {
        background-image: url(/Imagen/background_fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: 50px;
    }

    @@media (min-width: 601px) {
        
        .cont {
            margin-top: 5%;
            padding-top: 20px;
            background-color: #ffffff8c;
            border-radius: 30px;
        }

    }

    @@media  (max-width: 600px) {

        .cont {
            margin-left: 25px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            background-color: #ffffff8c;
            border-radius: 30px;
        }
    }
</style>

<img src="/Imagen/background_personas.png" class="personas">
<img src="/Imagen/background_circulo.png" class="circulo">
<img src="/Imagen/background_silueta.png" class="silueta">




<div class="row" style="margin-right: 0px; width: 100%;">

    <div class="col-md-6">
        <img src="/Imagen/background_logo.png" class="logo">
    </div>
    <div class="col-md-4 cont align-self-center" >
        <h3>@ViewData["Title"]</h3>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">Correo Electronico</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn" style="background-color: #FBB818;">Iniciar Sesión</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Olvidé mi contraseña</a>
                    </p>

                </div>
            </form>


        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
